.icon-plus {

    &_vertical-align {
        
        &_center {
            display: flex;
            align-items: center;
        }
    }

    &__icon {

        &_indent-r {

            &_s {
                margin-right: var(--s);
            }

            &_m {
                margin-right: var(--m);
            }
        }

        &_indent-l {

            &_l {
                margin-left: var(--l);
            }
        }
    }
}