.cover {
    min-height: 472px;

    &__info {
        text-align: left;
    }

    &__preview {
        margin-bottom: var(--l);

        .image {
            height: 180px;
            display: flex;
            justify-content: center;
            background: var(--img-stub);
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__footer {
        display: flex;
        justify-content: center;
    }
}