.card {
    position: relative;

    &_border {

        &_all {
            border: 3px solid var(--border);
        }
    }

    &_view {

        &_default {
            background: var(--default);
        }
    }

    &__content {

        &_distribute {

            &_center {
                display: flex;
                justify-content: center;
            }
        }

        &_vertical-align {

            &_center {
                display: flex;
                align-items: center;
            }
        }

        &_space-a {

            &_m {
                padding: var(--m);
            }

            &_xl {
                padding: var(--xl);
            }

            &_l {
                padding: var(--l);
            }

            &_xxl {
                padding: var(--xxl);
            }

            &_xxl {
                padding: var(--xxl);
            }

            &_xxxl {
                padding: var(--xxxl);
            }
        }
    }

    &__footer {
        position: absolute;
        width: 100%;
        bottom: 0px;

        &_distribute {
            display: flex;

            &_between {
                justify-content: space-between;
            }

            &_center {
                justify-content: center;
            }

            &_right {
                justify-content: right;
            }
        }

        &_vertical-align {

            &_center {
                display: flex;
                align-items: center;
            }

            &_top {
                vertical-align: top;
            }

            &_bottom {
                vertical-align: bottom;
            }
        }

        &_space-a {
            
            &_m {
                padding: var(--m);
            }

            &_xl {
                padding: var(--xl);
            }

            &_l {
                padding: var(--l);
            }

            &_xxl {
                padding: var(--xxl);
            }
        }
    }
}