.card {

    &_border {

        &_all {
            border: 3px solid var(--border);
        }
    }

    &_view {

        &_default {
            background: var(--default);
        }
    }

    &__content {

        &_distribute {

            &_center {
                display: flex;
                justify-content: center;
            }
        }

        &_vertical-align {

            &_center {
                display: flex;
                align-items: center;
            }
        }

        &_space-a {

            &_m {
                padding: $m;
            }

            &_xl {
                padding: $xl;
            }

            &_l {
                padding: $l;
            }

            &_xxl {
                padding: $xxl;
            }

            &_xxl {
                padding: $xxl;
            }

            &_xxxl {
                padding: $xxxl;
            }
        }
    }

    &__footer {

        &_distribute {
            display: flex;

            &_between {
                justify-content: space-between;
            }

            &_center {
                justify-content: center;
            }

            &_right {
                justify-content: right;
            }
        }

        &_vertical-align {

            &_center {
                display: flex;
                align-items: center;
            }

            &_top {
                vertical-align: top;
            }

            &_bottom {
                vertical-align: bottom;
            }
        }

        &_space-a {
            
            &_m {
                padding: $m;
            }

            &_xl {
                padding: $xl;
            }

            &_l {
                padding: $l;
            }

            &_xxl {
                padding: $xxl;
            }
        }
    }
}