.form {

    &_border {

        &_all {
            border: 3px solid var(--border);
        }
    }

    &_view {

        &_default {
            background: var(--default);
        }
    }

    &__item {

        &_border {

            &_bottom {
                border-bottom: 3px solid var(--border);

                .form__item:last-of-type {
                    border: none;
                    margin: 0px;
                }
            }
        }

        &_distribute {
            display: flex;

            &_between {
                justify-content: space-between;
            }
        }

        &_vertical-align {

            &_center {
                display: flex;
                align-items: center;
            }
        }

        &_indent-b {

            &_xxxs {
                margin-bottom: var(--xxxs);
            }

            &_xxs {
                margin-bottom: var(--xxs);
            }

            &_s {
                margin-bottom: var(--s);
            }

            &_m {
                margin-bottom: var(--m);
            }

            &_l {
                margin-bottom: var(--l);
            }

            &_xl {
                margin-bottom: var(--xl);
            }

            &_xxl {
                margin-bottom: var(--xxl);
            }

            &_xxxl {
                margin-bottom: var(--xxxl);
            }

            &_xxxxl {
                margin-bottom: var(--xxxxl);
            }
        }

        &_space-h {

            &_xxxs {
                padding-left: var(--xxxs);
                padding-right: var(--xxxs);
            }

            &_xxs {
                padding-left: var(--xxs);
                padding-right: var(--xxs);
            }

            &_s {
                padding-left: var(--s);
                padding-right: var(--s);
            }

            &_m {
                padding-left: var(--m);
                padding-right: var(--m);
            }

            &_l {
                padding-left: var(--l);
                padding-right: var(--l);
            }

            &_xl {
                padding-left: var(--xl);
                padding-right: var(--xl);
            }

            &_xxl {
                padding-left: var(--xxl);
                padding-right: var(--xxl);
            }

            &_xxxl {
                padding-left: var(--xxxl);
                padding-right: var(--xxxl);
            }

            &_xxxxl {
                padding-left: var(--xxxxl);
                padding-right: var(--xxxxl);
            }
        }

        &_space-v {

            &_xxxs {
                padding-top: var(--xxxs);
                padding-bottom: var(--xxxs);
            }

            &_xxs {
                padding-top: var(--xxs);
                padding-bottom: var(--xxs);
            }

            &_s {
                padding-top: var(--s);
                padding-bottom: var(--s);
            }

            &_m {
                padding-top: var(--m);
                padding-bottom: var(--m);
            }

            &_l {
                padding-top: var(--l);
                padding-bottom: var(--l);
            }

            &_xl {
                padding-top: var(--xl);
                padding-bottom: var(--xl);
            }

            &_xxl {
                padding-top: var(--xxl);
                padding-bottom: var(--xxl);
            }

            &_xxxl {
                padding-top: var(--xxxl);
                padding-bottom: var(--xxxl);
            }

            &_xxxxl {
                padding-top: var(--xxxxl);
                padding-bottom: var(--xxxxl);
            }
        }
    }

    &__label {

        &_width {

            &_default {
                width: 35%;
            }
        }
    }

    &__label + &__control {
        display: inline-block;
        width: 65%;
    }

    &__label + &__control, &__label{
        display: inline-block;
    }
}
