.event {
    min-height: 400px;
    
    &__content {
        flex-direction: column;
    }

    &__preview {
        display: flex;
        margin-bottom: var(--xxl);

        .avatar {
            margin-right: var(--xs);
        }
    }

    &__title {
        margin-bottom: var(--s);
    }
}