.event.event_brand_blue.theme.theme_color_project-inverse.card.card_view_default
  .event__content.card__content.card__content_vertical-align_center.card__content_space-a_xxxl.card__content_distribute_center
    .event__preview
      .avatar.avatar_size_m.event__speaker
      .brand-logo.brand-logo_name_blue.brand-logo_size_m
    .event__title
      .text.text_view_primary.text_size_xxl.text_align_center
        .text__word.text__word_width_l
    .event__description
      .text.text_view_primary.text_size_l.text_align_center
        span.text__word.text__word_width_l
        span.text__word.text__word_width_l
        span.text__word.text__word_width_l
        span.text__word.text__word_width_l
        span.text__word.text__word_width_l
        span.text__word.text__word_width_l
        span.text__word.text__word_width_l
        span.text__word.text__word_width_l
  .event__footer.card__footer.card__footer_vertical-align_center.card__footer_distribute_center.card__footer_space-a_xxl
    .text.text_view_link.text_size_xl.text_align_center
      .text__word.text__word_width_s
      .text__word.text__word_width_s