.layout {
    
    &__container {
        background: var(--default);
        
        &_align_center {
            margin-left: auto;
            margin-right: auto;
        }

        &_size {

            &_s {
                max-width: 920px;
            }

            &_m {
                max-width: 1280px;
            }
        }

        &_space-v {
            
            &_xxxxl {
                padding-top: var(--xxxxl);
                padding-bottom: var(--xxxxl);
            }

            &_xxxxxl {
                padding-top: var(--xxxxxl);
                padding-bottom: var(--xxxxxl);
            }
        }

        &_indent-b {

            &_xxl {
                margin-bottom: var(--xxl);
            }

            &_xxxxl {
                margin-bottom: var(--xxxxl);
            }
        }
    }
}