.product {
    min-height: 300px;

    &__image {

        .image {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 160px;
        }
    }

    &__footer {
        text-align: left;
    }
}