.history {

    & > div {
        padding: var(--m);
    }

    &__details {
        display: flex;
    }

    &__time {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    &__destination {
        display: flex;
    }

    &__quantity {
        margin-left: auto;
    }

    &__show {
        margin-top: 0px;
    }
    
    &__hide {
        overflow: hidden;
        text-align: left;
        display: none;
    }

    .history__info {
        margin-top: -100%;
        transition: .4s ease;
    }

    &__transaction {
        cursor: pointer;

        &_opened {

            .history {

                &__hide {
                    display: block;
                }
                
                &__info {
                    margin-top: 0%;
                }
            }
        }
    }
}