.history.list.list_view_default.list_border_all
  .history__transaction.history__transaction_hide.history__transaction_brand_blue.e-accordion.list__item.list__item_border_bottom.list__item_space-a_m
    .history__show.history__show_brand_blue.e-accordion__short.list__item.list__item_vertical-align_center.list__item_indent-t_m
      .history__details
        .history__time
          .text.text_size_s.text_view_ghost
            .text__word.text__word_width_m
          .text.text_size_s.text_view_ghost
            .text__word.text__word_width_m
        .history__destination.icon-plus.icon-plus_vertical-align_center
          .history__pic.icon-plus__icon.icon-plus__icon_indent-r_s.icon-plus__icon_indent-l_l
            .brand-logo.brand-logo_size_m.brand-logo_name_blue
          .history__label.icon-plus__block.text.text_view_primary.text_size_l
            .text__word.text__word_width_l
      .history__quantity
        .text.text_view_primary.text_size_l
          .text__word.text__word_width_m
    .history__hide.e-accordion__more.list__item.list__item_indent-t_m
      .history__info
        .history__description.list__item.list__item_indent-b_m
          .text.text_view_primary.text_size_l
            .text__word.text__word_width_l
            .text__word.text__word_width_m
            .text__word.text__word_width_l
          .text.text_view_primary.text_size_l
            .text__word.text__word_width_l
            .text__word.text__word_width_m
            .text__word.text__word_width_l
        .history__actions.list__item.list__item_distribute_between.list__item_indent-b_l
          .text.text_view_primary.text_size_l
            .text__word.text__word_width_l
          .text.text_view_primary.text_size_l
            .text__word.text__word_width_m
  .history__transaction.history__transaction_hide.history__transaction_brand_purple.e-accordion.list__item.list__item_border_bottom.list__item_space-a_m
    .history__show.history__show_brand_purple.e-accordion__short.list__item.list__item_vertical-align_center.list__item_indent-t_m
      .history__details
        .history__time
          .text.text_size_s.text_view_ghost
            .text__word.text__word_width_m
          .text.text_size_s.text_view_ghost
            .text__word.text__word_width_m
        .history__destination.icon-plus.icon-plus_vertical-align_center
          .history__pic.icon-plus__icon.icon-plus__icon_indent-r_s.icon-plus__icon_indent-l_l
            .brand-logo.brand-logo_size_m.brand-logo_name_purple
          .history__label.icon-plus__block.text.text_view_primary.text_size_l
            .text__word.text__word_width_l
      .history__quantity
        .text.text_view_primary.text_size_l
          .text__word.text__word_width_m
    .history__hide.e-accordion__more.list__item.list__item_indent-t_m
      .history__info
        .history__description.list__item.list__item_indent-b_m
          .text.text_view_primary.text_size_l
            .text__word.text__word_width_l
            .text__word.text__word_width_m
            .text__word.text__word_width_l
          .text.text_view_primary.text_size_l
            .text__word.text__word_width_l
            .text__word.text__word_width_m
            .text__word.text__word_width_l
        .history__actions.list__item.list__item_distribute_between.list__item_indent-b_l
          .text.text_view_primary.text_size_l
            .text__word.text__word_width_l
          .text.text_view_primary.text_size_l
            .text__word.text__word_width_m
  .history__transaction.history__transaction_hide.history__transaction_brand_red.e-accordion.list__item.list__item_border_bottom.list__item_space-a_m
    .history__show.history__show_brand_red.e-accordion__short.list__item.list__item_vertical-align_center.list__item_indent-t_m
      .history__details
        .history__time
          .text.text_size_s.text_view_ghost
            .text__word.text__word_width_m
          .text.text_size_s.text_view_ghost
            .text__word.text__word_width_m
        .history__destination.icon-plus.icon-plus_vertical-align_center
          .history__pic.icon-plus__icon.icon-plus__icon_indent-r_s.icon-plus__icon_indent-l_l
            .brand-logo.brand-logo_size_m.brand-logo_name_red
          .history__label.icon-plus__block.text.text_view_primary.text_size_l
            .text__word.text__word_width_l
      .history__quantity
        .text.text_view_primary.text_size_l
          .text__word.text__word_width_m
    .history__hide.e-accordion__more.list__item.list__item_indent-t_m
      .history__info
        .history__description.list__item.list__item_indent-b_m
          .text.text_view_primary.text_size_l
            .text__word.text__word_width_l
            .text__word.text__word_width_m
            .text__word.text__word_width_l
          .text.text_view_primary.text_size_l
            .text__word.text__word_width_l
            .text__word.text__word_width_m
            .text__word.text__word_width_l
        .history__actions.list__item.list__item_distribute_between.list__item_indent-b_l
          .text.text_view_primary.text_size_l
            .text__word.text__word_width_l
          .text.text_view_primary.text_size_l
            .text__word.text__word_width_m
  .history__transaction.history__transaction_hide.history__transaction_brand_green.e-accordion.list__item.list__item_border_bottom.list__item_space-a_m
    .history__show.history__show_brand_green.e-accordion__short.list__item.list__item_vertical-align_center.list__item_indent-t_m
      .history__details
        .history__time
          .text.text_size_s.text_view_ghost
            .text__word.text__word_width_m
          .text.text_size_s.text_view_ghost
            .text__word.text__word_width_m
        .history__destination.icon-plus.icon-plus_vertical-align_center
          .history__pic.icon-plus__icon.icon-plus__icon_indent-r_s.icon-plus__icon_indent-l_l
            .brand-logo.brand-logo_size_m.brand-logo_name_green
          .history__label.icon-plus__block.text.text_view_primary.text_size_l
            .text__word.text__word_width_l
      .history__quantity
        .text.text_view_primary.text_size_l
          .text__word.text__word_width_m
    .history__hide.e-accordion__more.list__item.list__item_indent-t_m
      .history__info
        .history__description.list__item.list__item_indent-b_m
          .text.text_view_primary.text_size_l
            .text__word.text__word_width_l
            .text__word.text__word_width_m
            .text__word.text__word_width_l
          .text.text_view_primary.text_size_l
            .text__word.text__word_width_l
            .text__word.text__word_width_m
            .text__word.text__word_width_l
        .history__actions.list__item.list__item_distribute_between.list__item_indent-b_l
          .text.text_view_primary.text_size_l
            .text__word.text__word_width_l
          .text.text_view_primary.text_size_l
            .text__word.text__word_width_m
