doctype html
html
  head
    title Index page
    link(rel='stylesheet', href='./style.css')

  body
    .page.theme.theme_size_default.theme_space_default.theme_gap_small.theme_color_project-default
      include blocks/content/header/index
      .layout
        .layout__container.layout__container_size_m.layout__container_align_center.section.section_indent-b_xxxxl
          .grid.grid_m-columns_12.grid_col-gap_full.grid_row-gap_full
            .grid__fraction.grid__fraction_m-col_4
              include blocks/content/cover/index
            .grid__fraction.grid__fraction_m-col_8
              h1.text.text_size_xxl.text_view_primary.text_type_h1
                span.text__word.text__word_width_l
              .text.text_view_primary.text_size_m
                span.text__word.text__word_width_l
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_s
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_s
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_s
                span.text__word.text__word_width_m
                span.text__word.text__word_width_l
                span.text__word.text__word_width_l
                span.text__word.text__word_width_l
                span.text__word.text__word_width_s
                span.text__word.text__word_width_l
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_s
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_s
                span.text__word.text__word_width_m
                span.text__word.text__word_width_l
                span.text__word.text__word_width_l
                span.text__word.text__word_width_l
                span.text__word.text__word_width_s
                span.text__word.text__word_width_l
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_s
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_s
                span.text__word.text__word_width_m
                span.text__word.text__word_width_s
                span.text__word.text__word_width_m
                span.text__word.text__word_width_l
                span.text__word.text__word_width_l
                span.text__word.text__word_width_l
                span.text__word.text__word_width_s
                span.text__word.text__word_width_l
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_s
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_s
                span.text__word.text__word_width_m
                span.text__word.text__word_width_l
                span.text__word.text__word_width_l
                span.text__word.text__word_width_s
                span.text__word.text__word_width_s
                span.text__word.text__word_width_l
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_s
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_l
                span.text__word.text__word_width_s
                span.text__word.text__word_width_l
                span.text__word.text__word_width_s
                span.text__word.text__word_width_l
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_s
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_l
                span.text__word.text__word_width_m
                span.text__word.text__word_width_s
                span.text__word.text__word_width_m
                span.text__word.text__word_width_l
                span.text__word.text__word_width_l
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_s
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_s
                span.text__word.text__word_width_m
                span.text__word.text__word_width_l
                span.text__word.text__word_width_l
                span.text__word.text__word_width_l
                span.text__word.text__word_width_s
                span.text__word.text__word_width_l
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_s
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_s
                span.text__word.text__word_width_l
                span.text__word.text__word_width_m
              h2.text.text_size_xl.text_view_primary.text_type_h2
                span.text__word.text__word_width_l
              .text.text_view_primary.text_size_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_l
                span.text__word.text__word_width_l
                span.text__word.text__word_width_l
                span.text__word.text__word_width_s
                span.text__word.text__word_width_l
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_s
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_s
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_s
                span.text__word.text__word_width_m
                span.text__word.text__word_width_l
                span.text__word.text__word_width_l
                span.text__word.text__word_width_l
                span.text__word.text__word_width_s
                span.text__word.text__word_width_l
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_s
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_m
                span.text__word.text__word_width_s

        .layout__container.theme.theme_color_project-inverse.section.section_space-v_xxxxl
          .layout__container.layout__container_size_m.layout__container_align_center
            .text.text_view_primary.text_size_xl.product__title
              span.text__word.text__word_width_l
              span.text__word.text__word_width_l
            .grid.grid_m-columns_12.grid_row-gap_half.grid_col-gap_half
              .grid__fraction.grid__fraction_m-col_3
                include blocks/content/inverseProduct/index
              .grid__fraction.grid__fraction_m-col_3
                include blocks/content/inverseProduct/index
              .grid__fraction.grid__fraction_m-col_3
                include blocks/content/inverseProduct/index                              
              .grid__fraction.grid__fraction_m-col_3
                include blocks/content/inverseProduct/index                
        include blocks/content/footer/index

  style(type="text/css").
    .page .text {
        text-align: left;
    }

    .page .product__title {
        margin-bottom: var(--xxxl);
    }
  script(src="script.js")