.footer {
    padding-top: var(--xxxl);
    padding-bottom: var(--xxxl);
    padding-left: var(--gap);
    padding-right: var(--gap);

    &__content {
        display: flex;
        justify-content: space-between;
        max-width: 1280px;
        margin: 0 auto;
    }
}