@import "../../../style/variables.scss";

.header {
    padding: $xxxl var(--gap);

    &__content {
        display: flex;
        justify-content: space-between;
        max-width: 1280px;
        margin: 0 auto;
    }

    &__logo {
        width: 179px;
        height: 34px;
        background: var(--primary);
    }
}